/* Top Bar PeopleSoft elements overrides */
#pthdr2container {
  display: none !important;
}

/* Custom CSS for CalCentral bar */
.cc-calcentral-bar {
  background: #003a70;
}
.cc-calcentral-bar ul {
  margin: 0;
  padding: 0;
}
.cc-calcentral-bar *, .cc-calcentral-bar *:before, .cc-calcentral-bar *:after {
  box-sizing: inherit;
}
.cc-calcentral-links {
  float: right;
  list-style-type: none;
}
.cc-calcentral-links li {
  display: block;
  float: left;
}
.cc-calcentral-links a {
  color: #fff;
  display: block;
  float: left;
  font-size: 14px;
  padding: 13px 10px;
  text-decoration: none;
}
.cc-calcentral-links a:hover, .cc-calcentral-links a:focus {
  text-decoration: underline;
}
.cc-calcentral-logo { /* svg into : object, img or inline */
  display: block;
  float: left;
  height: 35px;
  padding: 3px 10px;
  width: 65px;
}

.cc-calcentral-menu-toggle {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: none;
  float: right;
  font-size: 14px;
  padding: 12px 35px 13px 5px;
  position: relative;
}
.cc-calcentral-menu-toggle:before {
  border-bottom: 3px solid #fff;
  border-top: 9px double #fff;
  content: "";
  height: 3px;
  position: absolute;
  right: 5px;
  top: 13px;
  width: 20px;
}

@media (max-width: 750px) {
  .cc-calcentral-menu-toggle {
    display: block;
  }
  .cc-calcentral-links {
    background: #2d637f;
    clear: both;
    float: none;
    max-height: 0;
    overflow: hidden;
  }
  .cc-calcentral-links li {
    clear: both;
    float: none;
  }
  .cc-calcentral-links li a {
    width: 100%;
  }
  .cc-calcentral-menu-toggle-active + .cc-calcentral-links {
    max-height: 500px;
  }
}

/* Useful */
.cc-calcentral-clearfix-container:before,
.cc-calcentral-clearfix-container:after {
  content: " ";
  display: table;
}
.cc-calcentral-clearfix-container:after {
  clear: both;
}
